/*公用*/

.comWidth
{
    width: 1000px;
    margin: 0 auto;
}

.leftArea
{
    float: left;
}

.rightArea
{
    float: right;
}


/*topBar*/

.headerBar
{
    margin-bottom: 17px;
}

.topBar
{
    line-height: 31px;

    height: 31px;

    background: #f7f7f7;
}

.collection
{
    font-weight: bold;

    padding-left: 19px;

    text-decoration: none;

    background: url('../images/icon/collection.jpg') no-repeat left;
}

.topBar a:hover
{
    color: red;
}


/*logo*/

.logoBar
{
    height: 85px;

    background: #1d7ad9;
}

.logo
{
    padding: 13px 0 0 30px;
}


/*搜索栏*/

.searchBox
{
    width: 430px;
    margin: 23px 0 0 185px;
}

.searchText
{
    line-height: 35px\9;

    width: 350px;
    height: 35px;
    /* css hack: \9 代表所有IE浏览器*/
    padding: 0 5px;
}

.searchBtn
{
    font-family: 'Microsoft YaHei';
    font-size: 14px;

    width: 70px;
    height: 35px;

    color: #fff;
    background: #ff8c00;
}

.searchBtn:hover
{
    color: #1d7ad9;
}

.searchBtn:active
{
    color: red;
}


/*购物车*/

.shopCar
{
    font: 14px/35px 'Microsoft YaHei';

    width: 145px;
    height: 35px;
    margin: 23px 59px 0 0;

    background: #ff8c00;
}

.shopText
{
    width: 87px;

    text-indent: 40px;
    /*使用text-indent可以避免padding-left抵消掉的长度*/

    border-right: 1px solid #e27a00;
    background: url('../images/icon/shopCar.png') no-repeat 10px;
}

.shopNum
{
    width: 27px;
    padding-right: 29px;
    /*之所以使用padding-right是为了shopNum数字位数增长后使其向左移动*/

    text-align: right;

    border-left: 1px solid #ff9c01;
    background: url('../images/icon/shopNum.png') no-repeat 32px;
}

.shopText,
.shopNum a
{
    color: #fff;
}

.shopNum a:hover
{
    color: #1d7ad9;
}


/*导航栏*/

.navBox
{
    height: 35px;

    color: #fff;
    background: #1369c0;
}

.nav li
{
    float: left;
}

.nav a
{
    font-size: 14px;
    line-height: 35px;

    display: block;

    width: 100px;
    height: 35px;

    text-align: center;
    letter-spacing: 2px;

    color: #fff;
}

.nav a:hover
{
    background: #4593fd;
}

.shopClass
{
    position: relative;

    width: 190px;
    height: 35px;

    background: url('../images/icon/shopClass.png') no-repeat 148px;
}

.shopClass h3
{
    line-height: 35px;

    cursor: pointer;
    text-indent: 39px;
    letter-spacing: 2px;
}

.shopClass h3 a
{
    color: white;
}

.shopClass h3 a:hover
{
    text-decoration: underline;
}

.shopClass:hover .shopClassShowAll
{
    display: block;
}


/*下滑菜单*/

.shopClassShowAll
{
    position: absolute;
    /*改为none可实现下滑菜单*/
    z-index: 1;

    display: none;
}

.shopClassShow
{
    width: 189px;
    height: 5.26em;

    word-spacing: 4px;

    border-top: 1px solid #5aa1fe;
    border-bottom: 1px solid #3487f2;
    border-left: 1px solid #3487f2;
    background: #4593fd;
}

.shopClassShow:hover
{
    width: 189px;

    background: #fff;
}

.shopClassShow:hover .shopClassItem dt
{
    background-image: none;
}

.shopClassShow:hover .shopClassItem a:not(.c)
{
    color: #000;
}

.shopClassItem
{
    width: 170px;
    padding: 14px 0 0 11px;
}

.shopClassItem a
{
    color: #c2d9f8;
}

.shopClassItem dd a:hover,
.b:hover
{
    color: #1369c0!important;
}

.shopClassItem .c:hover
{
    color: #ff9c01;
}

.shopClassItem .b
{
    font-size: 14px;

    color: #fff;
}

.shopClassItem .c
{
    line-height: 20px;

    display: inline-block;

    width: 48px;
    height: 20px;

    text-align: center;

    color: #fff;
    background: url('../images/c.png') no-repeat center;
}

.shopClassItem .c:hover
{
    text-decoration: underline;
}

.shopClassItem dt
{
    margin-bottom: 2px;

    background: url('../images/icon/shopClassDt.png') no-repeat right;
}


/*弹出菜单*/

.shopClassList
{
    position: absolute;
    /*改为none可实现弹出菜单*/
    z-index: 1;
    left: 189px;

    display: none;

    width: 569px;
    min-height: 379px;
    padding-bottom: 10px;

    border: 1px solid #ddd;
    background: #fff;
}

.shopClassList a:hover
{
    text-decoration: underline;
}

.shopListItem
{
    width: 533px;
    margin: 0 auto;

    border-bottom: 1px solid #e5e5e5;
}

.shopListItem dt
{
    font-family: 'Microsoft YaHei';
    font-weight: bold;

    float: left;

    padding: 13px 14px 0 0;

    color: #4b88da;
}

.shopListItem dd
{
    float: left;

    width: 471px;
    padding-top: 13px;
}

.shopListItem a
{
    display: inline-block;

    margin-right: 14px;
    margin-bottom: 10px;
}

.shopListItem .d
{
    color: #ff7300;
}

.shopChannel
{
    width: 533px;
    margin: 0 auto;
}

.shopListChannel
{
    line-height: 25px;

    float: left;

    margin: 13px 10px 0 0;
    padding-right: 10px;

    text-indent: 10px;

    background: #2785e6;
}

.shopListChannel a
{
    color: #fff;
}

.shopListChannel img
{
    margin-left: 5px;
}

.showList
{
    position: relative;
}

.showList:hover .shopClassList
{
    display: block;
}


/*banner部分*/

.banner
{
    position: relative;

    overflow: hidden;
}

.imgBox
{
    position: absolute;
    /*此处用js改变数值产生切图效果，如-810px*/
    top: 0;
    left: 0;
}

.imgBox li
{
    float: left;
}

.imgBox img
{
    display: block;
}

.imgNum
{
    position: absolute;
    bottom: 10px;
    left: 0;

    width: 100%;

    text-align: center;
}

.imgNum a
{
    display: inline-block;

    width: 20px;
    height: 5px;
    margin: 0 1px;

    background: #fff;
}

.imgNum .bannerActive
{
    background: #ff9c01;
}

.bannerBig,
.bannerBig img
{
    width: 811px;
    height: 326px;
}

.bannerBig .imgBox
{
    width: 1622px;
    height: 326px;
}

.bannerSmall,
.bannerSmall img
{
    width: 190px;
    height: 400px;
}

.bannerSmall .imgBox
{
    width: 380px;
    height: 400px;
}


/*商品标题*/

.shopTit
{
    line-height: 45px;

    overflow: hidden;

    height: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.shopTit h3
{
    font-size: 24px;
    font-weight: normal;

    float: left;

    padding-left: 15px;
}

.icon
{
    float: left;

    width: 44px;
    height: 45px;

    background: url('../images/icon/icon.png') no-repeat;
}

.more
{
    float: right;

    padding-top: 16px;
}

.more:hover
{
    text-decoration: underline;
}



/*商品列表*/

.shopList .leftArea
{
    width: 190px;
}

.shopList .rightArea
{
    width: 810px;
    height: 396px;

    border-top: 1px solid #e5e5e5;
    border-bottom: 3px solid #ff9c01;
}


/*商品列表上*/

.shopItem
{
    float: left;

    width: 201.5px;
    height: 279px;

    text-align: center;

    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.shopImg
{
    padding-top: 46px;
}

.shopItem h3
{
    font-size: 16px;

    margin-top: 25px;
}

.shopItem p
{
    font-size: 14px;

    color: #ff9c01;
}


/*商品列表下*/

.shopItemBtm
{
    float: left;

    width: 201.5px;
    height: 116px;

    border-right: 1px solid #e5e5e5;
}

.shopImgBtm
{
    line-height: 86px;

    float: left;

    width: 90px;
    height: 86px;
    padding-top: 15px;

    text-align: center;
}

.shopImgBtm img
{
    vertical-align: middle;
}

.shopTextBtm
{
    float: left;

    width: 107px;
    padding-top: 28px;
}

.shopTextBtm p
{
    font-size: 12px;
    line-height: 19px;

    color: #ff9c01;
}

.shopTextBtm h3
{
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;

    text-indent: 12px;

    background: url('../images/icon/money.png') no-repeat left;
}


/*底部*/

.footer
{
    height: 223px;
    margin-top: 40px;
    padding-top: 55px;

    background: #d4d4d4;
}

.footer p
{
    line-height: 26px;

    text-align: center;
}

.footer a
{
    color: #000;
}

.footer a:hover
{
    color: red;
}

.footer div
{
    margin-top: 38px;

    text-align: center;
}

.footer img
{
    margin: 0 12px;
}


/*产品分类*/

.products
{
    width: 185px;
}

.leftNav
{
    font-family: 'Songti SC';

    border: 1px solid #d7d7d7;
    background: #f3f3f3;
}

.leftNavTit
{
    font-size: 14px;
    line-height: 34px;

    height: 34px;

    text-align: center;

    border-bottom: 1px solid #d7d7d7;
}

.leftNavCont
{
    margin-bottom: -1px;
    padding: 0 0 4px 18px;

    border-bottom: 1px dotted #d7d7d7;
    /*margin-bottom:-1px设置边框与父级重合,就不需要设置最后一个的border-bottom了*/
}

.leftNavCont h3
{
    font-size: 12px;
    line-height: 30px;

    height: 30px;
}

.leftNavContList li
{
    line-height: 24px;
    /*可直接将一竖列改为每列为父级宽度一半的两竖列*/

    float: left;

    width: 50%;
    height: 24px;
}

.leftNavContList a:hover
{
    color: #1d7ad9;
}

.vertical li
{
    float: none;

    width: auto;
    padding-left: 8px;
}

.vertical .leftNavTit,
.vertical .leftNavCont h3
{
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    font-weight: normal;
}



/*产品标题*/

.productsTit
{
    line-height: 34px;

    height: 34px;

    border-bottom: 2px solid #ccc;
}

.productsTit h3
{
    font-family: 'Heiti SC';

    width: 180px;

    text-indent: 10px;

    border-bottom: 2px solid #096dba;
}


/*商品*/

.productsDetail
{
    width: 811px;
}

.productsList
{
    margin-bottom: 30px;
}

.productsList .item
{
    float: left;

    width: 25%;
    width: 24.9%;
    height: 250px;
    margin-bottom: 20px;
}

.itemCont
{
    position: relative;

    padding: 0 15px;
}

.itemImg
{
    /*height: 164px;*/
    /*width: 160px;*/
    text-align: center;
}


.itemImg img
{
    /*width: 160px;*/
}

.item p
{
    line-height: 19px;
}

.itemName
{
    /*width: 160px;*/
}

.itemName a
{
    color: #000;
}

.itemComment
{
    color: #085c9b;
}

.item a:hover
{
    text-decoration: underline;
}

.money
{
    font-weight: bold;

    margin-top: 10px;
    margin-bottom: 10px;

    color: #d4105a;
}

.item span
{
    display: inline-block;

    width: 13px;
    height: 15px;
    margin: 0 1px;

    vertical-align: -2px;

    background: url('../images/icon/star_34.png') no-repeat;
}


/*筛选选项*/

.screeningDetail
{
    width: 800px;
}

.screening
{
    border-bottom: 1px dotted #d9d9d9;
}

.screening:first-child,
.screening:last-child
{
    border-bottom: 1px solid #d9d9d9;
}

.screening dt
{
    line-height: 32px;

    float: left;

    width: 74px;
    margin-right: 41px;

    text-align: right;

    color: #999;
}

.screening dd
{
    line-height: 32px;
}

.screening a
{
    padding: 2px;
}

.limit
{
    float: left;

    width: 56px;
}

.screening .active
{
    color: #fff;
    background: #1d7ad9;
}

.screeningList
{
    float: left;

    width: 500px;
}

.screeningList span
{
    float: left;
    overflow: hidden;

    width: 125px;
    /*超出部分不换行变成省略点*/

    white-space: nowrap;
    text-overflow: ellipsis;
}

.screeningList a
{
    color: #1d7ad9;
}

.screeningList:not(.moreScreening) a:hover
{
    color: #fff;
    background: #1d7ad9;
}

.moreScreening span
{
    width: auto;
    margin-right: 10px;
}

.moreScreening a
{
    padding-left: 10px;

    color: #000;
    border: 1px solid #d9d9d9;
}


/*地址选择*/

.addInfo
{
    line-height: 35px;

    height: 35px;
    margin-top: 15px;
    padding: 0 10px;

    border: 1px solid #d9d9d9;
    background: #f5f5f5;
}


/*.addInfo .fr{*/


/*margin-right: 50px;*/


/*}*/

.addInfo .fr span
{
    margin-left: 10px;
}

.addInfo .fr label
{
    margin-left: 3px;
}

.addInfo .fr em
{
    font-style: normal;

    margin: 0 2px;

    color: #dc0000;
}

.select
{
    line-height: 23px;

    height: 23px;
    padding: 0 20px 0 10px;

    border: 1px solid #d9d9d9;
    border-radius: unset;
    background: #fff url('../images/selectArrow_40.png') no-repeat right;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}


/*筛选出的商品*/

.screeningItem
{
    padding-left: 5%;
}

.screeningItem .item
{
    width: 33.3%;
    height: 350px;
}

.screeningItem .item span
{
    font-family: 'Songti SC';

    width: auto;
    height: auto;
    margin-left: 10px;

    vertical-align: top;

    color: #666;
    background: none;
}

.itemShopCar
{
    line-height: 22px;

    width: 88px;
    height: 22px;

    text-align: center;

    border: 1px solid #c3d5e7;
}

.itemShopCar a
{
    color: #3879bd;
}

.itemShopCar a:hover
{
    text-decoration: none;
}

.itemShopCar img
{
    vertical-align: text-top;
}

.hot
{
    position: absolute;
    top: 8%;
    right: 10%;

    width: 51px;
    height: 51px;

    background: url('../images/itemImg/images/hot_90.png') no-repeat left top;
}


/*页码*/

.page
{
    margin: 20px 0;

    text-align: center;
}

.page a
{
    line-height: 26px;

    display: inline-block;

    height: 26px;
    margin: 0 2px;
    padding: 0 12px;

    vertical-align: middle;

    color: #000;
    border: 1px solid #c9c9c9;
}

.page .active
{
    color: #fff;
    background: #26b;
}

.page a:hover
{
    color: #fff;
    background: #26b;
}

.page span
{
    margin: 0 5px;
}

.pageInput
{
    line-height: 22px\9;

    width: 25px;
    height: 22px;
    margin: 0 2px;
    padding: 0 5px;

    text-align: center;

    border: 1px solid #d9d9d9;
}

.pageBtn
{
    width: 44px;
    height: 22px;
    margin: 0 2px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #d9d9d9;
    background: #e8e8e8;
}

.pageBtn:active
{
    color: #fff;
    background: #26b;
}

.bannerBar .comWidth
{
    border-bottom: 1px solid #d9d9d9;
}


/*热点商品*/

.hotList
{
    border-top: 1px solid #d7d7d7;
    background: #fff;
}

.hotItem
{
    padding: 5px 0;
}

.hotItem img
{
    float: left;

    margin-right: 5px;
}

.hotItem p
{
    line-height: 19px;

    overflow: hidden;

    width: 88px;
    height: 38px;
}

.hotItem p:hover
{
    text-decoration: underline;
}


/*商品介绍*/

.greyBg
{
    background: #f0f0f0;
}


/*用户位置*/

.userPosition
{
    padding: 15px 0;
}

.userPosition b
{
    color: #000;
}

.userPosition a:hover
{
    text-decoration: underline;
}

.userPosition em
{
    font-style: normal;
}


/*商品介绍内容*/

.itemOrder
{
    margin-bottom: 15px;

    border: 1px solid #ccc;
    background: #fff;
}

.itemOrder .leftArea
{
    width: 309px;
}

.itemOrder .rightArea
{
    width: 688px;

    border-left: 1px solid #ccc;
}


/*图片展示*/

.itemInfoImg
{
    line-height: 340px;

    height: 340px;
    /*针对子级img的vertical-align: middle;设置*/

    text-align: center;
    /*      A      */
}


/*     /|\     */


/*      |      */

.itemInfoImg img
{
    /*      |      */
    vertical-align: middle;
    /*  ____|      */
}

.itemInfoImgList
{
    width: 264px;
    height: 52px;
    margin: 0 auto;
}

.itemInfoImgList li
{
    line-height: 52px;

    float: left;

    width: 51px;
    height: 52px;
    /*为每一个li设置边框，并margin-left: -1px让相邻li的边框重叠*/
    margin-left: -1px;

    text-align: center;

    border: 1px solid #ccc;
    /*使内部图片水平居中*/
}

.itemInfoImgList .active
{
    /*被选中li改变边框颜色，为了li右侧边框不被相邻li左侧默认颜色边框覆盖，设置position: relative;提高优先级*/
    position: relative;

    border: 1px solid #317ee7;
}

.itemInfoImgList li:hover
{
    position: relative;

    border: 1px solid #317ee7;
}

.itemInfoImgList img
{
    vertical-align: middle;
    /*图片本身垂直居中*/
}


/*商品名称区域*/

.itemInfoContent
{
    margin: 0 10px;
}

.itemInfoContent h3
{
    font: bold 16px/22px 'Microsoft YaHei';

    margin-top: 25px;
    padding-bottom: 10px;
    padding-left: 17px;
}

.itemInfoContent .dl
{
    margin-bottom: 10px;
}

.itemInfoContent .dt
{
    font-family: 'Songti SC';
    font-size: 12px;
    line-height: 30px;

    float: left;

    width: 75px;

    text-indent: 17px;

    color: #666;
}

.itemInfoPrice em,
.itemInfoPrice i
{
    font-style: normal;

    color: #d70000;
}

.itemInfoPrice i
{
    font-size: 20px;
    font-weight: bold;

    display: inline-block;
}

.mhg
{
    padding-top: 4px;
}

.mhg i
{
    font-style: normal;
    line-height: 18px;

    display: inline-block;

    width: 55px;
    height: 18px;
    margin-right: 5px;

    background: url('../images/icon/mhgTag.png') no-repeat;
}

.mhg a
{
    font-family: 'Songti SC';
    font-size: 12px;

    padding-left: 15px;

    color: #fff;
}

.mhgInfo
{
    font-family: 'Heiti SC';
    font-size: 12px;
    line-height: 22px;

    color: #666;
}


/*商品订货列表*/

.itemInfoList
{
    padding: 20px 0;

    background: #f2f2f2;
    box-shadow: 0 0 5px rgba(0, 0, 0, .23);
}

.itemInfoList:hover
{
    box-shadow: 0 0 5px #00069;
}

.delivery
{
    line-height: 30px;
}

.delivery .select
{
    cursor: pointer;
}

.itemInfoColor span
{
    line-height: 32px;

    display: inline-block;

    width: 82px;
    height: 32px;
    margin-right: 10px;

    text-align: center;

    border: 1px solid #ccc;
    background: #fff;
}

.itemInfoColor .active
{
    border: 1px solid #317ee7;
}

.itemInfoColor span:hover
{
    cursor: pointer;

    border: 1px solid #317ee7;
}

.itemInfoList .itemSpec
{
    line-height: 55px;
}

.itemInfoList .dd
{
    padding-right: 50px;
    padding-left: 75px;
}

.itemSpecList span
{
    line-height: 24px;

    width: auto;
    height: 24px;
    margin-bottom: 10px;
    padding: 0 6px;
}

.itemNumCunt
{
    height: 34px;
}

.itemInfoNum span
{
    line-height: 30px;
}

.reduction,
.plus
{
    float: left;

    width: 15px;
    height: 32px;

    cursor: pointer;

    border: 1px solid #b2b2b2;
    background: #f3f3f3;
    box-shadow: inset 0 0 0 1px #fff;
    text-shadow: 0 1px #fff;
}

.reduction:active,
.plus:active
{
    background: #cbcbcb;
}

.input
{
    line-height: 30px\9;

    float: left;

    width: 50px;
    height: 30px;
    padding: 0 5px;

    text-align: center;

    border-top: 1px solid #b2b2b2;
    border-bottom: 1px solid #b2b2b2;
    outline: none;
    box-shadow: inset 3px 3px 1px 0 #00017;
}

.itemNumCunt
{
    margin-right: 10px;
}

.itemInfoNum em
{
    font-family: 'Songti SC';
    font-style: normal;

    color: #fc7700;
}

.itemInfoNum span
{
    font-size: 14px;
    font-weight: bold;

    float: left;
}

.sdsd
{
    line-height: 30px;

    float: left;

    margin-left: 10px;
}

.itemInfoNum .sdsd span
{
    float: none;

    color: #d70000;
}


/*商品确认购买区*/

.itemChosen
{
    margin-top: 10px;
}

.itemChosen .dt
{
    font-family: 'Songti SC';
    font-weight: bold;

    color: #666;
}

.itemChosen .dd
{
    line-height: 30px;
}

.itemChosen span
{
    font-family: 'Songti SC';
    font-weight: bold;

    color: #0479ca;
}

.itemChosen em
{
    font-style: normal;
}

.buy
{
    width: 565px;
    height: 92px;
    padding-left: 17px;
}

.addShopCar
{
    border-right: 1px solid #e5e5e5;
}

.addShopCar,
.buyNow
{
    float: left;

    width: 282px;
    height: 100%;

    text-align: center;
}

.addShopCarBtn,
.buyNowBtn
{
    font-family: 'Microsoft YaHei';
    font-size: 20px;
    font-weight: 200;
    line-height: 46px\9;

    width: 182px;
    height: 46px;
    margin-top: 20px;
    padding-bottom: 2px;

    cursor: pointer;
    text-indent: 50px;

    color: #fff;
    background: #f98700 url('../images/icon/buyNowBtn.png') no-repeat 30px center;
    box-shadow: 0 0 3px 0 #00080;
}

.addShopCarBtn:hover,
.buyNowBtn:hover
{
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .67);
}

.addShopCarBtn:active,
.buyNowBtn:active
{
    box-shadow: inset 0 0 5px 2px #0004d;
}

.dl .notice
{
    width: auto;

    color: #999;
}


/*商品推荐列表*/

.itemDetail .leftArea .recommend
{
    width: 188px;

    border: 1px solid #ccc;
    border-top: 3px solid #1d86cf;
}

.itemDetail .leftArea .bt
{
    margin-top: 10px;

    border-top: 1px solid #ccc;
}

.recommend h3
{
    font-family: 'Songti SC';
    font-size: 14px;
    font-weight: bold;
    line-height: 39px;

    height: 39px;

    text-indent: 15px;

    border-bottom: 1px solid #ccc;
    background: #f3f3f3;
}

.recommendList
{
    padding-bottom: 20px;

    background: #fff;
}

.recommendList .money
{
    margin-top: 5px;
    margin-bottom: 0;
}

.recommendList .itemName a
{
    font-family: 'Songti SC';

    color: #999;
}

.recommendList .itemImg img:hover
{
    opacity: .8;
}



/*商品详细信息*/

.itemDetail .rightArea
{
    width: 787px;
}

.itemIntro,
.itemRate
{
    line-height: 39px;

    float: left;

    height: 39px;

    cursor: pointer;
    text-align: center;

    border: 1px solid #ccc;
    background: #f2f2f2;
    box-shadow: inset 1px 1px #fff;
}

.itemDetailTit .active
{
    border: 1px solid #0479ca;
    background: #0479ca;
    box-shadow: none;
}

.itemDetailTit .active span
{
    font-weight: bold;

    color: #fff;
}

.itemIntro
{
    width: 377px;
}

.itemRate
{
    width: 406px;
    ;
}

.itemRate em
{
    font-style: normal;

    margin: 0 2px;
    padding: 0 2px;
}

.itemIntro span
{
    background: url('../images/icon/itemIntro.png') no-repeat left center;
}

.itemRate span
{
    background: url('../images/icon/itemRate.png') no-repeat left center;
}

.itemRate span,
.itemIntro span
{
    font-family: 'Songti SC';
    font-size: 14px;

    padding-left: 32px;

    color: #000;
}

.itemDetailContent
{
    margin-bottom: 15px;
    padding: 30px 0;

    border: 1px solid #ccc;
    border-top: none;
    background: #fff;
}

.itemDetailContent img
{
    display: block;

    margin: 0 auto;
}

.itemTxt
{
    margin: 30px 0;
    padding: 0 20px;
}

.itemTxtTit
{
    font-family: 'Microsoft YaHei', sans-serif;

    border-bottom: 2px solid #d7d7d7;
}

.itemTxtTit h3
{
    font-size: 16px;
    font-weight: normal;

    float: left;

    width: 72px;
    height: 26px;
    margin-bottom: -2px;

    color: #2457a6;
    border-bottom: 2px solid #2457a6;
}

.itemTxtTit p
{
    line-height: 26px;

    float: left;

    padding-left: 5px;

    color: #989898;
}

.itemTxtTit h3,
.itemTxtTit p
{
    display: inline-block;

    vertical-align: bottom;
}

.itemTxtContent
{
    font-family: 'Songti SC';
    font-size: 14px;
    line-height: 30px;

    padding: 10px 0;

    color: #666;
}


/*商品评价内容*/


/*打分*/

.itemRateContent
{
    margin-bottom: 15px;

    border: 1px solid #d7d7d7;
    background: #fff;
}

.bt
{
    border-top: none;
}

.itemRateContent h3
{
    font-family: 'Songti SC', sans-serif;
    font-size: 14px;
    line-height: 38px;

    height: 38px;

    text-indent: 10px;

    color: #666;
}

.scoreBox
{
    height: 105px;
}

.scoreNum
{
    float: left;

    padding-left: 10px;
}

.scoreNum span
{
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 18px;

    margin-left: 2px;

    color: #66667d;
}

.scoreNum em
{
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 50px;
    font-style: normal;

    color: #ff9c01;
}

.scoreOpt
{
    position: relative;

    float: left;

    width: 450px;
    height: 16px;
    margin-top: 14px;
    margin-left: 10px;
}

.scoreOpt span
{
    font-family: 'Songti SC', sans-serif;
    line-height: 16px;

    display: inline-block;

    width: 20%;

    cursor: pointer;
    text-align: center;

    color: #fff;
    background: #bdbdbd;
}

.scoreOpt span:hover
{
    color: #66667d;
    background: #ff9c01;
}

.scoreBub
{
    position: absolute;
    top: -21px;
    left: 94%;

    width: 25px;
    height: 14px;

    text-align: center;

    color: #fff;
    background: #7f7f7f;
}

.scoreBub em
{
    font-style: normal;
    line-height: 14px;

    display: inline-block;

    width: 25px;

    vertical-align: top;
}

.scoreBub i
{
    position: absolute;
    top: 14px;
    left: 9px;

    width: 0;
    height: 0;

    border: 4px dashed transparent;
    border-top: solid #7f7f7f;
}

.scoreOpt p
{
    font-family: 'Songti SC', sans-serif;

    padding-top: 10px;

    color: #66667d;
}


/*评论列表*/

.commentList
{
    font-family: 'Songti SC', sans-serif;

    height: 32px;
    padding-left: 20px;

    background: #f2f2f2;
}

.commentList ul
{
    width: 500px;
}

.commentList li
{
    line-height: 32px;

    float: left;

    height: 29px;
    margin-right: 40px;
    padding: 0 5px;

    text-align: center;
}

.commentList .active
{
    border-bottom: 3px solid #317ee7;
}

.commentList .active a
{
    font-weight: 800;

    color: #317ee7;
}

.commentList li a
{
    color: #000;
}

.commentList li em
{
    font-style: normal;
}

.commentList li:hover
{
    border-bottom: 3px solid #317ee7;
}

.commentList li a:hover
{
    font-weight: 800;

    color: #317ee7;
}

.hide
{
    display: none;
}


/*评论排序*/

.sorting
{
    position: relative;

    float: right;

    margin-top: 4px;
    padding-right: 7px;
}

.sorting span
{
    line-height: 20px;

    display: inline-block;

    width: 73px;
    height: 20px;

    cursor: pointer;
    text-indent: 7px;

    border: 1px solid #cdcdcd;
    background: #fff url('../images/icon/sortingIcon.png') no-repeat 56px center;
}

.sorting span:hover
{
    background-color: #358cff;
}

.sorting span:active
{
    color: #fff;
    background-color: #317ee7;
}

.new
{
    position: absolute;
    top: -15px;
    right: 15px;

    width: 28px;
    height: 14px;

    color: #fff;
    background: #e40003;
}

.new:hover
{
    top: -17px;
}

.new em
{
    font-family: 'Heiti SC', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 14px;

    display: inline-block;

    width: 28px;
    height: 14px;

    -webkit-transform: scale(.8);
    text-align: center;
    vertical-align: top;
}

.new i
{
    position: absolute;
    top: 11px;
    left: 0;

    width: 0;
    height: 0;

    border: 3px dashed transparent;
    border-left: solid #e40003;
}


/*评论用户*/

.memberAvatar
{
    float: left;

    width: 140px;
    height: 154px;
    margin-right: 30px;
    padding-top: 18px;

    text-align: center;
}

.memberAvatar img
{
    padding-bottom: 9px;
}

.memberAvatar img:hover
{
    opacity: .8;
}

.memberAvatar p,
.memberAvatar em
{
    line-height: 19px;

    color: #77778c;
}

.memberAvatar em
{
    font-style: normal;
}

.memberAvatar em:hover
{
    color: #e40003;
}


/*用户评论内容*/

.commentInfo
{
    font-family: 'Songti SC', sans-serif;

    position: relative;

    float: left;
}

.commentContent
{
    width: 600px;
    padding-right: 15px;
}

.star
{
    padding-top: 20px;
    padding-bottom: 20px;
}

.star span
{
    display: inline-block;

    width: 13px;
    height: 15px;
    margin: 0 1px;

    cursor: pointer;
    vertical-align: -2px;

    background: url('../images/icon/star_34.png') no-repeat;
}

.star span:hover
{
    opacity: .6;
}

.star em
{
    font-weight: bold;
    font-style: normal;

    margin-left: 8px;
}

.commentTxt
{
    line-height: 20px;

    padding-bottom: 15px;

    color: #777;
}

.like
{
    color: #085c9b;
}

.like em
{
    font-style: normal;

    cursor: pointer;
}

.like em:hover,
.like em:active
{
    color: #0896e6;
}

.commentDate
{
    position: absolute;
    top: 20px;
    right: 15px;
}

.commentDate span
{
    margin-left: 8px;

    color: #ababab;
}

.commentDate i
{
    font-style: normal;

    margin: 0 1px;
}


/*用户评论页码*/

.commentPage
{
    display: block;

    padding-right: 15px;

    text-align: right;
}

.commentPage a
{
    border: 1px solid #d3d3d3;
}

.commentPage .lastPage
{
    color: #d3d3d3;
}

.commentPage .nextPage
{
    color: #0896e6;
}

.commentPage .active
{
    color: #f00;
    background: #e9e9e9;
}

.commentPage a:hover
{
    color: #f00;
    background: #e9e9e9;
}


/*咨询头部标题*/

.itemConsult
{
    background: #fff;
}

.consultAll
{
    font-family: 'Songti SC', sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 33px;

    float: left;

    width: 130px;
    height: 33px;

    text-align: center;

    color: #076ebb;
    border: 1px solid #0688ba;
    border-bottom: none;
}

.consulting
{
    line-height: 33px;

    float: left;

    width: 630px;
    height: 33px;
    padding-right: 25px;

    text-align: right;

    border-bottom: 1px solid #0688ba;
}

.consulting a
{
    color: #076ebb;
}

.consulting a:hover
{
    text-decoration: underline;
}


/*咨询内容*/

.consultQue
{
    padding: 13px 12px 0 21px;
}

.consultNote
{
    padding: 10px 20px;

    background: #f3f3f3;
}

.consultNote p
{
    color: #777;
}

.consultList
{
    padding-bottom: 10px;
}

.consultCom .memberAvatar
{
    width: 117px;
    height: 115px;
    margin-right: 0;
    margin-left: 11px;
    padding-top: 28px;
}

.consultCom .star
{
    padding-top: 40px;
    padding-bottom: 14px;
}

.consultCom .star em
{
    font-weight: 800;

    margin-left: 0;
}

.consultCom .commentTxt
{
    padding-bottom: 12px;
}

.consultCom .commentDate
{
    top: 40px;
}

.consultRep
{
    line-height: 56px;

    position: relative;

    height: 56px;
    padding-left: 29px;

    background: #f1f1f1;
}

.consultRep:hover
{
    box-shadow: 0 0 5px 0 #0004a;
}

.consultRep span
{
    color: #777;
}

.consultRep i
{
    position: absolute;
    top: -5px;

    width: 0;
    height: 0;

    border-right: 3px solid transparent;
    border-bottom: 5px solid #f1f1f1;
    border-left: 3px solid transparent;
}

.consultQue .consultPage
{
    margin: 0;
    padding: 20px 20px 20px 0;
}


/*购物车*/

.stepBox
{
    width: 402px;
    height: 53px;
    margin-top: 15px;
    margin-right: 25px;

    background: url('../images/step_03.jpg') no-repeat center;
}


/*购物车表单*/

.form
{
    margin-bottom: 20px;

    border: 1px solid #ccc;
}

.formTit
{
    line-height: 30px;

    height: 30px;

    border-top: 1px solid #fff;
    border-bottom: 1px solid #e3e3e3;
    background: #f4f4f4;
}

.formTit h3
{
    font-family: 'Heiti SC', sans-serif;
    font-size: 14px;
    font-weight: normal;

    float: left;

    margin-left: 12px;

    color: #44448a;
}

.formTit span
{
    float: right;

    margin-right: 33px;
}

.formTit span a
{
    color: #37f;
}

.orderAdd
{
    margin: 30px 25px 15px 25px;
}

.attention
{
    margin-right: 10px;

    color: red;
}

.formDetail
{
    line-height: 35px;

    height: 35px;
}

.formDetail input
{
    border: 1px solid #c2c2c2;
}

.orderAddBtn
{
    font-family: 'Heiti SC', sans-serif;
    font-size: 14px;
    font-weight: normal;

    width: 114px;
    height: 28px;
    margin-top: 20px;

    color: #fff;
    background: #3f8df8;
}

.orderAddBtn:active
{
    box-shadow: inset 0 1px 2px 2px #00026;
}

.pay
{
    margin-left: 8px;
}

.pay img
{
    margin: 0 5px 0 17px;

    vertical-align: middle;
}

.invoice
{
    margin-bottom: 20px;
}

.formDetail .select
{
    vertical-align: middle;
}

.formDetail .paySubBtn
{
    width: 67px;
    height: 25px;
    margin-right: 10px;

    color: #fff;
    border: none;
    background: #4290fb;
}

.payCancelBtn
{
    width: 67px;
    height: 25px;

    color: #666;
    border: 1px solid #ccc;
    background: #f5f5f5;
}

.paySubBtn:active,
.payCancelBtn:active
{
    box-shadow: inset 0 1px 2px 2px #00026;
}


/*送货清单*/

.shipList
{
    width: 100%;

    border-collapse: collapse;

    text-align: left;
}

.shipList tr td
{
    color: #666;
    border-bottom: 1px solid #ccc;
}

.shipTable
{
    height: 35px;
}

.shipDetail
{
    height: 100px;
}

.shipDetail td div
{
    font-family: 'Heiti SC', sans-serif;

    height: 85px;
    padding-top: 15px;
}

.shipAdd
{
    padding-left: 120px;

    background: url('../images/itemImg/images/shipIist_19.jpg') no-repeat 25px center;
}

.shipAdd p:first-child
{
    margin-bottom: 40px;

    color: #666;
}

.shipAdd p:first-child:hover
{
    text-decoration: underline;
}

.shipAdd p:last-child
{
    color: #333;
}

.shipNum
{
    margin-left: 8px;
}

.shipNum p:first-child
{
    margin-bottom: 40px;
}

.price
{
    font-weight: bold;

    color: red;
}

.shipCom
{
    display: block;

    width: 550px;
    height: 25px;
    margin: 5px 0 5px 25px;

    border-radius: 4px;
}

.shipCom:hover
{
    background: #f7f7ff;
}

.shipCom::-webkit-input-placeholder
{
    /* WebKit browsers */
    color: #37f;
}

.shipNotice
{
    margin-left: 25px;
}

.shipNotice em
{
    font-style: normal;

    padding-left: 23px;

    cursor: pointer;

    color: red;
    background: url('../images/icon/shipNotice_22.jpg') no-repeat left center;
}

.noticeItem
{
    margin: 10px 0;
}

.noticeItem p
{
    line-height: 21px;

    color: #666;
}

.itemCheck
{
    font-weight: bold;

    color: red;
}

.noticeItemImg
{
    display: block;
    float: left;

    margin-right: 10px;
}

.noticeItemImg:hover
{
    opacity: .8;
}

.noticeItemName:hover
{
    text-decoration: underline;
}


/*订单结算*/

.orderSub
{
    position: relative;

    height: 144px;
}

.orderSub p
{
    font-family: 'Heiti SC', sans-serif;
    font-size: 14px;
    font-weight: lighter;

    position: absolute;
    top: 42px;
    right: 30px;

    color: #929292;
}

.orderSub p span
{
    font-size: 30px;
    font-weight: bold;

    margin-left: 15px;

    color: red;
}

.orderSubBtn
{
    font-family: 'Heiti SC', sans-serif;
    font-size: 16px;

    position: absolute;
    right: 24px;
    bottom: 29px;

    width: 165px;
    height: 33px;

    color: #fff;
    background: red;
}

.orderSubBtn:hover
{
    border: 1px solid #000;
}

.orderSubBtn:active
{
    box-shadow: inset 0 0 5px black;
}


/*登录头部*/

.loginLogo
{
    width: 460px;
    margin: 0 auto;
}

.loginLogo h1
{
    font-family: 'Heiti SC', sans-serif;
    font-weight: normal;

    margin-top: 20px;
    margin-left: 170px;

    color: #fff;
}


/*登录表单*/

.formCon
{
    position: relative;

    width: 462px;
    margin: 0 auto;

    box-shadow: 0 3px 5px 0 #0001c;
}

.loginForm
{
    width: 288px;
    padding: 44px 86px 28px 86px;

    border: 1px solid #e8e8e8;
}

.loginForm p
{
    color: #999;
}

.username,
.password
{
    line-height: 32px\9;

    width: 265px;
    height: 32px;
    margin-bottom: 15px;
    padding-right: 34px;
    padding-left: 6px;

    border: 1px solid #ccc;
}

.username
{
    background: url('../images/icon/username_03.jpg') no-repeat right center;
}

.password
{
    background: url('../images/icon/password_06.jpg') no-repeat right center;
}

.loginOpt
{
    margin-top: 15px;
}

.loginOpt label
{
    margin: 0 15px 0 5px;
}

.loginOpt a
{
    color: #000;
}

.loginOpt a:hover
{
    text-decoration: underline;
}

.loginBtn
{
    font-family: 'Microsoft YaHei', sans-serif;
    font-size: 16px;

    width: 309px;
    height: 36px;
    margin: 30px 0 30px 0;

    cursor: pointer;
    letter-spacing: 5px;

    color: #606060;
    background: url('../images/icon/loginBtn_09.jpg') no-repeat;
}

.loginBtn:active
{
    box-shadow: inset 0 0 4px black;
}

.coLogin
{
    position: relative;
}

.coLogin a
{
    color: #666;
}

.coLogin a:hover
{
    text-decoration: underline;
}

.coLogin i
{
    font-style: normal;

    padding-left: 3px;

    color: #dbdbdb;
}

.regMore
{
    /*position: relative;*/
    cursor: pointer;

    color: #666;
}

.regMore:hover .coMore
{
    /*display: block;*/
    height: 85px;
    padding: 5px;

    transition: all .3s ease;

    opacity: 1;
}

.coMore
{
    line-height: 21px;

    position: absolute;
    z-index: 1;
    top: 24px;
    right: 0;

    overflow: hidden;
    /*display: none;*/

    width: 60px;
    height: 0;
    padding: 0;

    opacity: 0;
    background: #fff;
    -webkit-box-shadow: 0 3px 5px 0 #6e6e71;
       -moz-box-shadow: 0 3px 5px 0 #6e6e71;
            box-shadow: 0 3px 5px 0 #6e6e71;
}

.freeRegBtn
{
    font-family: 'Heiti SC', sans-serif;
    font-weight: normal;
    line-height: 31px;

    position: absolute;
    z-index: -1;
    right: 42px;

    width: 115px;
    height: 31px;

    cursor: pointer;
    text-align: center;

    color: #fff;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background: #7cbe56;
}

.freeRegBtn:active
{
    box-shadow: inset 0 0 5px 0 black;
}


/*注册表单*/

.formReg
{
    width: 633px;
}

.regForm
{
    width: 459px;
}

.regList li label
{
    display: inline-block;

    width: 88px;
    margin-right: 18px;

    text-align: right;
}

.regList li label i
{
    padding: 0 5px;

    color: red;
}

.regAdd
{
    background: none;
}

.agree
{
    margin-top: 20px;

    text-align: center;
}

.agree a
{
    color: #005aa0;
}

.regBtn
{
    display: block;

    margin: 30px auto;
}

.regName::-webkit-input-placeholder
{
    color: #999;
}

.regName::-moz-placeholder
{
    color: #999;
}
